/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 ago 2025, 1:04:18 a. m.
    Author     : Michelle
*/
.label {
    -fx-text-fill: white;
    -fx-font-family: "Arial";
}

.cell-button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-padding: 0;
}
